:root {
	// Container
	--container-width: 1210px;
	--container-padding: 15px;

	// Base
	--font-main: 'Nunito Sans', sans-serif;
	--font-size: 17px;
	--font-weight: 400;

	--bg-main: #e5e5e5;
	--page-bg: #fff;
	--page-text-color: #424242;
	--page-secondary-text-color: #878787;
}

// Media

$tabletLG-size: 985px;
$tabletMD-size: 768px;
$mobileLG-size: 425px;
$mobileMD-size: 375px;
$mobileSM-size: 320px;
$mobileXS-size: 300px;
