.wrap {
	display: flex;
	align-items: center;
	gap: 24px;
	padding: 16px 16px 16px 0px;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	min-width: 64px;
	min-height: 64px;
	background-color: rgba(65, 82, 46, 0.05);

	img {
		min-width: 35px;
		min-height: 35px;
	}
}

.info {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.name {
	max-width: 254px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 300;
	line-height: 129%;
	letter-spacing: -0.408px;
}

.dates {
	display: flex;
	gap: 10px;
	color: var(--page-secondary-text-color);
	font-size: 14px;
	line-height: 154%;
	letter-spacing: -0.408px;
}

.rating {
	display: flex;
	gap: 2px;
}

.priceGroup {
	display: flex;
	flex-direction: column;
	gap: 22px;
}

.heart {
	width: 23px;
	height: 20px;
	background-image: url('../../icons/heart.svg');
	background-repeat: no-repeat;
	margin-left: auto;

	&:hover {
		cursor: pointer;
		background-image: url('../../icons/heartWithHover.svg');
	}

	&:active {
		cursor: pointer;
		background-image: url('../../icons/heartActive.svg');
	}
}

.price {
	display: flex;
	align-items: center;
	gap: 8px;
	color: var(--page-secondary-text-color);
	font-size: 11px;
	font-weight: 300;
	line-height: 200%;
	letter-spacing: -0.408px;

	span {
		font-size: 17px;
		font-weight: 400;
		color: var(--page-text-color);
		line-height: 129%;
		letter-spacing: -0.408px;
	}
}
