.wrap {
	max-width: 1014px;
	padding: 0px 15px;
	display: flex;
	justify-content: space-between;
	// flex-direction: column;
	margin: 0 auto;
	gap: 24px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
